body {
    margin: 0;
}

a {
    text-decoration: none;
    color: salmon;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /*Background Image*/
    /*background-image: url('../images/background.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*    Background gradient*/
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%)
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    text-align: center;
    font-size: 2rem;
}
