body {
    font-family: "Fira Sans", 'Arial', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}

h2 {
    font-size: xx-large;
    font-weight: 400;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-indent: 20px;
    letter-spacing: 5px;
    word-spacing: 100px;
    text-align: center;
}